.custom-list {
  list-style: none;
  padding: 0;
}

.list-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.list-item:hover {
  background-color: #f2f2f2;
  color: #333;
}

.list-image {
  max-width: 100px;
  height: auto;
}

.list-title {
  flex-grow: 1;
  padding-left: 10px;
  text-align: center;
}